---
eleventyNavigation:
  key: About
---
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Bryan Cook</title>
  </head>

  <body>
    <nav>{{ collections.all | eleventyNavigation | eleventyNavigationToHtml }}</nav>
    <h1>About Page</h1>
  </body>

</html>