:root {

}

body {
	font-family: Arvo, sans-serif;
	background-color: var(--color-background);
	color: var(--color-foreground);
}

.profile {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 10vh;
}

.profile h1 {
	font-weight: 900;
	margin: 0;
	font-size: 5.5rem;
	text-shadow:
		1px 1px 0px rgba(51, 65, 85, 1),
		2px 2px 0px rgba(51, 65, 85, 1),
		3px 3px 0px rgba(51, 65, 85, 1),
		4px 4px 0px rgba(51, 65, 85, 1);
}

.profile > .profile-attributes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
	width: fit-content;
}

.profile-attributes > div {
	display: flex;
	flex-direction: row;
}

.profile-attributes > div > * {
	font-size: 1.5rem;
	line-height: 2;
	text-wrap: nowrap;
}

.profile-attributes > div > .ph + span {
	padding-left: 0.4em;
}
